<!DOCTYPE html>
<html lang="en">
  <% include partials/header2 %>
<body>
  <%- body -%>

  <% include partials/footer %>
  <!-- <script src="/js/upload.js"> -->
  <script src="/js/rating.js">

  </script>
  </script>
</body>
</html>
