.signup{
  text-align: center;
  width: 60%;
  height: auto;
  margin: auto;
}
.input_group input{
  height: 40px;
  font-size: 17px;
}

input[type="submit"]{
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #1e8bc3 !important;
  color: white !important;
}
.btn-facebook {
  background: #3B5998;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #263961;
  width: 50%;
}
.btn-facebook: link, .btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
  background: #263961;
  color: #fff;
}
.main_body {
  margin: 0;
  padding: 0;
}
.main_body h1{
  color: #73879C;
  font-size: 46px;
  font-weight: 900;
  text-align: center;
}
.main_body p{
  color: #73879C;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
#colDesc {
  margin: 50px 20px 0px 70px;
  padding-top: 40px;
  background-color: white;
  height: 350px;
  float: left;
  width: 25%;
}

#colDesc h3{
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #73879C;
}
#colDesc p{
  font-size: 18px;
  font-weight: normal;
  margin: 0px 30px 20px 30px;
  text-align: center;
  color: #73879C;
}
.info-icon {
  text-align: center;
}
.info-icon i{
  font-size: 60px;
  margin-top: 10px;
  color: #73879C;
}
.link_btn{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.ul_links ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ul_links ul li{
  display: inline-block;
  padding: 0px 10px 0px 10px;
}
.ul_links ul li a{
  color: #73879C !important;
}
