.signup{
  text-align: center;
  width: 60%;
  height: auto;
  margin: auto;
}
.input_group input{
  height: 40px;
  font-size: 17px;
}

input[type="submit"]{
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #1e8bc3 !important;
  color: white !important;
}
