<div id="wrapper">

    <% include ../partials/sidebar %>

        <div id="page-content-wrapper">
            <% include ../partials/navbar %>
                <div class="container-fluid main_body">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    <div class="ul_links">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/companies">Company</a></li>
                            <li><a href="#">Employees</a></li>
                        </ul>
                    </div>
                    <div class="bodyDiv">
                        <h4 style="">Company Employees</h4>

                    </div>

                </div>

        </div>
</div>
